* {
    box-sizing: border-box;
    font-size: inherit;
    font-family: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background: #444;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    background-color: #fff;
    padding-bottom: 0.5rem;
}

/* The above is just to get you started, but feel free to make any modifications you want.
 * In case you want to match the (beautiful!) colors in the video exactly, here are their
 * color codes: #6cef00, #d4e22f, #6579E2, #C850C0 and #CC8300.
 */

