{% extends "layout.html" %}
{% from "form-macro.html" import form_macro %}

{% block head %}
{% if graph %}
<link rel="stylesheet" href="/static/chartist.min.css">
<script src="/static/chartist.min.js"></script>
<script src="/static/chartist-plugin-legend.js"></script>
{% endif %}
{% if columns %}
<script src="/static/sorttable.js"></script>
{% endif %}
{% endblock %}

{% block title %}
Dashboard
{% if query %}
— query.name
{% endif %}
{% endblock %}

{% block body %}

<select onchange="location.href = '/dashboard/'+this.value;">
    <option value=""></option>
{% for query in queries %}
    <option {{'selected' if (query.id|string)==(query_id|string) else ''}} value="{{query.id}}">{{query.name}}</option>
{% endfor %}
{% if current_user.is_admin %}
    <option {{'selected' if 'new'==query_id else ''}} value="new">Add a query...</option>
{% endif %}
</select>

{% if not query_id %}
<div class="notification">
    Select a query above.
</div>
{% endif %}

{%if query_object and query_object.explanation %}
<div class="notification is-info">{{query_object.explanation}}</div>
{% endif %}

{% if error %}
<div class="notification is-error">
    {{error}}
</div>
{% endif %}

{% if graph %}
<div class="ct-chart mar4"></div>
<script>
    let data = {{graph | json | safe}};
    new Chartist.Line('.ct-chart', data, {
        plugins: Object.keys(data.series).length>1 ? [
            Chartist.plugins.legend()
        ] : [],
        axisX: {
            scaleMinSpace: 64,
        },
        axisY: {
            low: data.minY
        },
        height: '300px',
    });
</script>
{% endif %}


{% if columns %}
<table class="sortable">
    <tr>
        {% for key in columns %}
            <th>{{key | replace('_', ' ') | title}}</th>
        {% endfor %}
    </tr>

    {% for row in rows %}
    <tr>
        {% for value in row %}{% set column = columns[loop.index-1] %}
        <td>
            {% if column == 'user_id' and value and value in users %}
            <a href="/people/{{value}}">
                <img class="avatar is-prefix" src="{{users[value].avatar}}" alt="Avatar">
                {{users[value].short_name}}
            </a>
            {% elif column == 'user_ids' and value %}
            {% for user_id in value.split(',') %}
            {% if user_id.strip()|int in users %}
            <a href="/people/{{user_id}}">
                <img class="avatar is-prefix" src="{{users[user_id.strip()|int].avatar}}" alt="Avatar">
            </a>
            {% else %}
            {{user_id}}
            {% endif %}
            {% endfor %}
            {% elif column == 'node_id' %}
            <a href="/curriculum/{{value}}">
                {{value}}
            </a>
            {% else %}
            {{value}}
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endif %}

{% if query_form %}
<div class="card">
    {{ form_macro(query_form, "") }}
    <ul>
        <li>Columns named <code>user_id</code> will be shown as an avatar and short name linking to the user profile.</li>
        <li>When a query is ordered by one of its output fields and all other fields are numerical, a graph will be shown with the order-field on the x-axis.</li>
        <li>To delete a query, clear the SQL text area and save.</li>
    </ul>
</div>
{% elif query_object %}
{%if query_object.sql %}
<pre><code>{{query_object.sql}}</code></pre>
{% endif %}
{% endif %}

{% endblock %}