{% extends "layout.html" %}

{% block title %}
People
{% endblock %}

{% block main_class %}container{% endblock %}

{% block body %}

{% if filter_form %}
<form class="buttons">
    <div>
        {{filter_form.hidden(role="switch", onchange="submit()")}} {{filter_form.hidden.label}}
    </div>
    <div>
        {{filter_form.inactive(role="switch", onchange="submit()")}} {{filter_form.inactive.label}}
    </div>
    <div>
        {{filter_form.class_name(onchange="submit()")}}
    </div>
</form>
{% endif %}


{% include 'queue.html' %}

{% if current_user.is_teacher %}
<a class="fab" href="{{ url_for('new') }}">
    +
</a>
{% endif %}


{% endblock %}