{% extends "layout.html" %}

{% block title %}
Classroom dashboard
{% endblock %}

{% block bare_body %}


<div class="tv" style="display: flex; flex-direction: column; height: 100%;">
    <div style="display: flex; flex-direction: column; padding: 20px; flex: 1;">

        <h1>
            <span id="sched_now"></span>
            <span id="sched_time" style="float: right;"></span>
        </h1>
        <h2 id="sched_next"></h2>

        {% if students %}
        <h1>Queue</h1>
        <div hx-trigger="every 15s" hx-get="?fragment=queue" hx-swap="innerHTML transition:true" >
            {% include 'queue.html' %}
        </div>
        {% endif %}

    </div>

    {% if device == "iglo" %}
    <iframe frameborder="0" style="border-width: 0; height: 128px; overflow: hidden; border: none;" scrolling="no" src="https://tuks.dev/iglo" allowtransparency="true"></iframe>
    {% endif %}
</div>

<script src="/static/tv.js"></script>

{% endblock %}